# Provider binaries
terraform-provider-artesca
terraform-provider-scality-artesca

# OpenTofu / Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# CodeQL
.codeql/
